* {
    box-sizing: border-box;
}
body {
    margin: auto;
    list-style-type: none;
}
nav {
    background: #333333;
    height: 4.25em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}
li{
    margin:auto;
    font-weight: bold;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
    ;
}
nav a:hover {
    background: blue;
}
nav ul li:nth-child(6) {
    margin-left: auto;
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
}
nav ul li:nth-child(5){
    margin: 0;
    font-size: 3em;
}