h1{
    text-align: center;
}
h2{
    color: cornflowerblue;
    text-decoration: underline;
}
body{
    background-color: aliceblue;
    background-image: url("https://www.pexels.com/photo/adventure-cold-conifers-evening-572897/") ;
}