h1{
    text-align: center;
}
h2{
    color: cornflowerblue;
    text-decoration: underline;
}
body{
    background-color: aliceblue;
}
body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F700520917023062711%2F&psig=AOvVaw28jantqEtAoitpJzUAwsXC&ust=1602955548250000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjTxfPQuewCFQAAAAAdAAAAABAO");
}